html {
    background: darkblue url(https://t4.ftcdn.net/jpg/03/14/81/65/240_F_314816591_yBAWvMvnpTW05AP0q4DCs5B6y2gnL9xA.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
}

body container {
}

